body {
    font-family: Arial, sans-serif;
    background-color: #dcccfe;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    max-width: 500px;
    text-align: center;
    background-color: #a6a6d2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px #989595;
}

form {
    background-color: #e6e6fa;
    color: black;
    padding: 20px;
    border-radius: 10px;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.compare-button {
    background-color: #556b2f;
    color: white;
}

.compare-button:hover {
    background-color: #8fbc8f;
}

.reset-button {
    background-color: #9370db;
    color: white;
}

.reset-button:hover {
    background-color: #a0522d;
}

.error-message {
    color: #8a2be2;
    font-weight: bold;
}
